/* app css stylesheet */


//@import 'retina.less';

@nephritis: #27ae60;
@sunflower: #f1c40f;
@alizarin: #e74c3c;
@concrete: #95a5a6;

body {
	margin-top: 20px;
	//color: @alizarin;
	//background-color: @concrete;
}

.row button {
	margin: 5px;
}

.input-group-addon {
	font-size: 22px;
	background-color: #1abc9c;
	border-color: #1abc9c;
}
.minidash {
	td {
		padding:0 !important;
	}
	p {
		font-size:13px;
		margin:0;
		padding:0;
	}
	p.name {
		font-size:20px;
	}
	p.meta {
		margin-top:-7px;
		padding-left:24px;
	}
	.status_online,.status_offline {
		font-size:30px;
		position:absolute;
		margin-top:-17px;
		margin-left:-24px;
	}
	.status_online {
		color:green;
	}
	.status_offline {
		color:red;
	}
}